<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quang.serv.components.mybatis.dao.service.IServiceMethodMapper" >
  <resultMap id="BaseResultMap" type="com.quang.serv.core.model.ServiceMethod" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
    <result column="group" property="group" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    `id`, service_id, group, path, method_name
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from service_method
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByServiceId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from service_method
    where service_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from service_method
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.quang.serv.core.model.ServiceMethod" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into service_method
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="group != null" >
        group,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="group != null" >
        #{group,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.quang.serv.core.model.ServiceMethod" >
    update service_method
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="group != null" >
        group = #{group,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>